/*
  In the CSSTransition, set the timeout, which is the number of ms the routes will simultaneously be rendered

  When transition is applied:
  1. [classNames]-exit class is applied to current route
  2. [classNames-exit-active] class is applied for [timeout]ms on current route
  3. [classNames-enter] class is applied to new route
  4. after [timeout]ms, [classNames-enter-active] class is applied to new route
*/

/* While pages are simultaneously rendered, position incoming page absolutely behind exiting page*/
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: 1s ease-in-out;
}

/*
  Simple Fade in/out animation
  Enter transition 450ms, exit transition 1500ms
*/
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}


/*
  Slide Right Transition
    1. Home to Blog (page--blog + page--home)
    2. About to Home (page--about + page--home)
*/

.from-page--home .page--blog.page-enter {
  transform: translate(-100%, 0);
}

.from-page--home .page--blog.page-enter-active {
  transform: translate(0, 0);
}

.from-page--home .page--blog + .page--home.page-exit {
  transform: translate(100%, 0);
}

.from-page--about .page--home.page-enter {
  transform: translate(-100%, 0);
}

.from-page--about .page--home.page-enter-active {
  transform: translate(0, 0);
}

.from-page--about .page--home + .page--about.page-exit {
  transform: translate(100%, 0);
}

/*
  Slide Left Transition
    1. Blog to Home (page--home + page--blog)
    2. Home to About (page--about + page--home)
*/
.from-page--blog .page--home.page-enter {
  transform: translate(100%, 0);
}

.from-page--blog .page--home.page-enter-active {
  transform: translate(0, 0);
}

.from-page--blog .page--home + .page--blog.page-exit {
  transform: translate(-100%, 0);
}

.from-page--home .page--about.page-enter {
  transform: translate(100%, 0);
}

.from-page--home .page--about.page-enter-active {
  transform: translate(0, 0);
}

.from-page--home .page--about + .page--home.page-exit {
  transform: translate(-100%, 0);
}


/*
  Slide Down Transition
    1. Blog to About (page--about + page--blog)
*/
.from-page--blog .page--about.page-enter {
  transform: translate(0, -100%);
}

.from-page--blog .page--about.page-enter-active {
  transform: translate(0, 0);
}

.from-page--blog .page--about + .page--blog.page-exit {
  transform: translate(0, 100%);
}

/*
  Slide Up Transition
    1. About to Blog (page--blog + page--about)
*/
.from-page--about .page--blog.page-enter {
  transform: translate(0, 100%);
}

.from-page--about .page--blog.page-enter-active {
  transform: translate(0, 0);
}

.from-page--about .page--blog + .page--about.page-exit {
  transform: translate(0, -100%);
}

/*
  GROW IN
    1. BLOG to POST (page--blog + page--blog-post)
*/
.from-page--blog .page--blog-post {
  z-index: 100;
}
.from-page--blog .page--blog-post.page-enter {
  transform: scale(0);
}

.from-page--blog .page--blog-post.page-enter-active {
  transform: scale(1);
}

.from-page--blog .page--blog-post + .page--blog-post.page-exit {
  transform: scale(0);
}

/*
  GROW OUT
    1. POST to BLOG (page--blog-post + page--blog)
*/
.from-page--post .page--blog-post.page-exit {
  z-index: 100;
  transform: scale(1);
}
.from-page--post .page--blog-post.page-exit-active {
  transform: scale(0);
}